.App {
    text-align: center;
}

.primary-input {
    border: 2px solid rgb(43, 85, 199);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    min-width: 250px;
    margin: 10px;
}

.primary-btn {
    background: rgb(43, 85, 199);
    color: aliceblue;
    min-width: 250px;
    margin: 10px;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    margin: 20px;
}

.active {
    color: rgb(43, 85, 199);
    border-bottom: 2px solid rgb(43, 85, 199);
}